# https://github.com/donbignose/rust_repo_template/blob/master/.github/workflows/ci.yml

name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      
      # Enable rust build cache.
      - uses: Swatinem/rust-cache@v2

      - name: Audit dependencies
        run: |
          cargo install cargo-audit --locked
          cargo audit

      - name: Build
        run: cargo build

      - name: Run tests
        run: cargo test

      - name: Lint with clippy
        run: cargo clippy -- -D warnings

      - name: Formatting check
        run: cargo fmt -- --check
